<html>

<head>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>

<body ng-app="helloApp" ng-controller="helloController">

	
	<form name="loginForm" role="form" novalidate="novalidate" autocomplete="off" ng-submit="login()">

		<br>
		<p class="heading">Login</p>

		<div class="alert alert-danger" ng-show="error" ng-cloak>{{errorMessage}}</div>

		<div class="form-group">
			<label class="control-label col-md-2 required">Username</label>
			<div class="col-md-3">
				<input type="text" name="userName" ng-model="userName"
					class="form-control" ng-required="true">
			</div>
			<div class="error" ng-messages="loginForm.userName.$error"
				ng-if="loginForm.userName.$touched">
				<div ng-message="required">Required field</div>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-md-2 required">Password</label>
			<div class="col-md-3">
				<input type="password" name="password" ng-model="password"
					class="form-control" ng-required="true">
			</div>
			<div class="error" ng-messages="loginForm.password.$error"
				ng-if="loginForm.password.$touched">
				<div ng-message="required">Required field</div>
			</div>
		</div>

		<br>


		<button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Login</button>
		<button type="button" class="btn btn-primary" ng-click="reset()">Reset</button>

	</form>

</body>

<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="scripts/controller.js"></script>

</html>